# =============== #
# Unity generated #
# =============== #

# User-specific files
UserSettings/

# Build results
Build/
Builds/
ExportedObj/
obj/
Library/

# Uncomment this line if you are using Unity 5 or later
#.vs/

# Cache
.vs2019/
.idea/

# User settings and preferences
.userprefs

# Gradle
gradle/

# Windows
Thumbs.db
ehthumbs.db